{% extends "base.html" %}
{% block title %}Home - MFA Reset Portal{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="display-4">MFA Reset Portal</h1>
    <p class="lead">Welcome to the MFA management portal.</p>
    <hr />
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Applications MFA Reset</h5>
                    <p class="card-text">Reset MFA registration for applications.</p>
                    <a href="{{ url_for('applications_mfa.reset') }}" class="btn btn-primary">Reset MFA</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">VPN MFA Reset</h5>
                    <p class="card-text">Reset MFA registration for VPN.</p>
                    <a href="{{ url_for('vpn_mfa.reset') }}" class="btn btn-primary">Reset MFA</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card opacity-50">
                <div class="card-body">
                    <h5 class="card-title">Set OTP</h5>
                    <p class="card-text">Coming soon.</p>
                    <button class="btn btn-secondary" disabled>Set OTP</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
